  <footer class="site-footer">
    <div class="site-footer__inner">
      <a href="{{root}}index.html" class="topbar__brand" style="color:#fff;">
        <span class="hexmark">H</span>
        The Hive Wiki
      </a>
      <div class="site-footer__links">
        <a href="{{root}}index.html">Home</a>
        <a href="#">Rules</a>
        <a href="#">Discord</a>
        <a href="#">Support</a>
      </div>
    </div>
    <div class="site-footer__legal">
      This is an unofficial fan wiki and is not affiliated with Hive Games Limited or Mojang Studios.
      Minecraft is a trademark of Mojang Synergies AB.
    </div>
  </footer>
