  <div class="navbox">
    <div class="navbox__title">Related Content</div>
    <div class="navbox__body">
      <div class="navbox__row">
        <div class="navbox__cat">Aliens</div>
        <div class="navbox__links">
          <a class="navbox__link" href="{{root}}costumes/store/alien/">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/heads/alien.png"
              alt=""
            />
            Alien (Costume)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/heads/al-the-alien.png"
              alt=""
            />
            Al The Alien (Costume)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/heads/burple.png"
              alt=""
            />
            Burple (Costume)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/close-encounters.png"
              alt=""
            />
            Close Encounters (Gravestone)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/UFO.png"
              alt=""
            />
            UFO (Treasure)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/invader.png"
              alt=""
            />
            Invader (Bridge Builder)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/invader-trail.png"
              alt=""
            />
            Invader (Projectile Trail)
          </a>
        </div>
      </div>
      <div class="navbox__row">
        <div class="navbox__cat">Space</div>
        <div class="navbox__links">
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/heads/space-ranger.png"
              alt=""
            />
            Space Ranger (Costume)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/heads/space-kitten.png"
              alt=""
            />
            Space Kitten (Costume)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/heads/space-corgi.png"
              alt=""
            />
            Space Corgi (Costume)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/spaceship.png"
              alt=""
            />
            Spaceship (Throwable)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/rocket-ship.png"
              alt=""
            />
            Rocket Ship (Treasure)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/rocket.png"
              alt=""
            />
            Rocket (Bridge Builder)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/solar-orbit.png"
              alt=""
            />
            Solar Orbit (Spawn Vehicle)
          </a>
        </div>
      </div>
      <div class="navbox__row">
        <div class="navbox__cat">Celestial</div>
        <div class="navbox__links">
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/heads/orbit.png"
              alt=""
            />
            Orbit (Costume)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/heads/solar.png"
              alt=""
            />
            Solar (Costume)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/heads/globey.png"
              alt=""
            />
            Globey (Costume)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/heads/sunny.png"
              alt=""
            />
            Sunny (Costume)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/solar-display.png"
              alt=""
            />
            Solar Display (Gravestone)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/earth.png"
              alt=""
            />
            Earth (Treasure)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/saturn.png"
              alt=""
            />
            Saturn (Treasure)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/earth-flag.png"
              alt=""
            />
            Earth (Player Flag)
          </a>
          <a class="navbox__link" href="#">
            <img
              class="navbox__icon"
              src="{{root}}assets/icons/props/solar-system.png"
              alt=""
            />
            Solar System (Player Flag)
          </a>
        </div>
      </div>
    </div>
  </div>
