        <section class="costume-section">
          <div class="costume-section__head">
            <h2>
              Quest Costumes<span class="costume-section__count"
                >{total-amount}</span
              >
            </h2>
            <a class="costume-section__more" href="{{root}}costumes/quest/"
              >View all →</a
            >
          </div>
          <p>{Quest-Costume-Description}</p>
          <div class="costume-preview-grid">
            <a
              class="costume-preview"
              href="{{root}}costumes/quest/cacti-bandit/"
            >
              <div class="costume-preview__thumb">
                <img
                  src="{{root}}assets/costume/quest/cacti-bandit.png"
                  alt="Cacti Bandit"
                />
              </div>
              <div class="costume-preview__name">Cacti Bandit</div>
              <div class="costume-preview__date">July 1, 2026</div>
            </a>
            <a
              class="costume-preview"
              href="{{root}}costumes/quest/make-a-lotl/"
            >
              <div class="costume-preview__thumb">
                <img
                  src="{{root}}assets/costume/quest/make-a-lotl.png"
                  alt="Make-a-lotl"
                />
              </div>
              <div class="costume-preview__name">Make-a-lotl</div>
              <div class="costume-preview__date">June 1, 2026</div>
            </a>
            <a class="costume-preview" href="{{root}}costumes/quest/NULL/">
              <div class="costume-preview__thumb">
                <img
                  src="{{root}}assets/costume/quest/NULL.png"
                  alt="NULL"
                />
              </div>
              <div class="costume-preview__name">NULL</div>
              <div class="costume-preview__date">May 1, 2026</div>
            </a>
            <a class="costume-preview" href="{{root}}costumes/quest/NULL/">
              <div class="costume-preview__thumb">
                <img
                  src="{{root}}assets/costume/quest/NULL.png"
                  alt="NULL"
                />
              </div>
              <div class="costume-preview__name">NULL</div>
              <div class="costume-preview__date">April 1, 2026</div>
            </a>
            <a class="costume-preview" href="{{root}}costumes/quest/NULL/">
              <div class="costume-preview__thumb">
                <img
                  src="{{root}}assets/costume/quest/NULL.png"
                  alt="NULL"
                />
              </div>
              <div class="costume-preview__name">NULL</div>
              <div class="costume-preview__date">March 1, 2026</div>
            </a>
            <a
              class="costume-preview"
              href="{{root}}costumes/quest/granny-ghosty/"
            >
              <div class="costume-preview__thumb">
                <img
                  src="{{root}}assets/costume/quest/granny-ghosty.png"
                  alt="Granny Ghosty"
                />
              </div>
              <div class="costume-preview__name">Granny Ghosty</div>
              <div class="costume-preview__date">February 1, 2026</div>
            </a>
            <a class="costume-preview" href="{{root}}costumes/quest/NULL/">
              <div class="costume-preview__thumb">
                <img
                  src="{{root}}assets/costume/quest/NULL.png"
                  alt="NULL"
                />
              </div>
              <div class="costume-preview__name">NULL</div>
              <div class="costume-preview__date">January 1, 2026</div>
            </a>
          </div>
        </section>
